@{
    ViewBag.Title = "Your Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Account</h2>

<ol class="breadcrumb">
    <li class="active"><i class="fa-home"></i></li>
</ol>


<div id="view-account">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Your Account</h3></div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="@Url.Action("orders")">Orders</a></li>
                    <li class="list-group-item"><a href="javascript:;">Wish List</a></li>
                </ul>
            </div>

            <a href="javascript:;"><img src="http://placehold.it/300x150&text=Personalized Promotion" class="img-responsive img-rounded" /></a>
            <div class="space-5"></div>
            <a href="javascript:;"><img src="http://placehold.it/300x150&text=Personalized Promotion" class="img-responsive img-rounded" /></a>
            <div class="space-5"></div>
            <a href="javascript:;"><img src="http://placehold.it/300x150&text=Personalized Promotion" class="img-responsive img-rounded" /></a>

        </div>
        <div class="col-sm-9">


            <h3>Orders</h3>

            <div class="row">
                <div class="col-sm-4">
                    <div class="well well-transparent text-center">
                        View, track or cancel an order
                        <div class="space-5"></div>
                        <a href="@Url.Action("orders")" class="btn btn-primary btn-block">Your Orders</a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h4>Open Orders</h4>
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr>
                                <td><a href="javascript:;">#364901</a></td>
                                <td><a href="javascript:;" title="Status description here">Processing</a></td>
                                <td class="text-right">$39.95</td>
                                <td class="text-right">12/9/2013</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>