@model LoginViewModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="view-sitelogin">

    <h2>Sign In</h2>
    <div class="row">
        <div class="col-sm-4">

            <div class="alert alert-danger alert-dismissable" id="errors" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4 class="title"></h4>
                <div class="error"></div>
            </div>

            <div class="well">
                <form role="form" class="form-horizontal" id="form-login">
                    <div class="form-group">
                        <label for="loginname" class="control-label col-sm-3">Username</label>
                        <div class="col-sm-9">
                            <input type="text" id="loginname" name="loginname" placeholder="Username" class="form-control" value="masteraccount" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label col-sm-3">Password</label>
                        <div class="col-sm-9">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus value="testpsswd">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" id="loginbutton" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-8">
            <h3>Don't have an account?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
            <a href="javascript:;" class="btn btn-primary">Create an account</a>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        (function () {

            var context = '#view-sitelogin';


            // Event Handlers
            function registerEventHandlers() {

                // Login Form
                $('#loginbutton').on('click', function (event) {
                    event.preventDefault();
                    actions.signin();
                });
                $('#form-login input').on('keypress', function (event) {

                    if (event.which == 13) {
                        event.preventDefault();
                        actions.signin();
                    }
                });
            }


            // Actions
            var actions = {
                clearCookies: function () {
                    Cookies.clear('BackofficeEmail');
                },
                loadCookies: function () {
                    var savedLoginName = Cookies.get('BackofficeLoginName');
                    if (savedLoginName) $('#loginname').val(savedLoginName);
                },
                saveCookies: function (loginName, name, email) {
                    // Get the expiration date of the cookie
                    var expires = new Date();
                    expires.setDate(expires.getDate() + 365);

                    // Set the cookies
                    Cookies.set('BackofficeLoginName', loginName, {
                        expires: expires
                    });
                },
                signin: function () {

                    // Validate the form
                    var loginname = $('#loginname').val();
                    var password = $('#password').val();

                    if (loginname == '' || password == '') {
                        actions.throwError("Missing Username/Password", "Please enter your username and password first.");
                        return;
                    }


                    // Submit the form
                    jsonAjax({
                        url: '@Url.Action("login")',
                        data: {
                            loginname: $('#loginname').val(),
                            password: $('#password').val()
                        },
                        beforeSend: function () {
                            $('#loginbutton').text('Signing in...').prop('disabled', true);
                        },
                        success: function (response) {
                            console.log(response);

                            if (!response.success) {
                                actions.throwError("Unable to sign in", response.error);
                                $('#loginbutton').text('Sign In').prop('disabled', false);
                            }
                            else {
                                // Change the buton text
                                $('#loginbutton').text('Success!');

                                // Save the cookies
                                actions.saveCookies(response.loginname, response.name, response.email);

                                // Redirect
                                var url = decodeURIComponent(Url.current.queryKey.ReturnUrl || '@Url.Action("index")');
                                window.location = url;
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr);
                            actions.throwError("Login failed", error);
                            $('#loginbutton').text('Sign In').prop('disabled', false);
                        }
                    });
                },
                throwError: function (title, error) {
                    var $error = $('#errors');
                    $error.find('.title').html(title);
                    $error.find('.error').html(error);

                    $error.slideDown('fast', function () {
                        $error.delay(4000).slideUp('fast');
                    });
                }
            };


            // Initialization
            function _init() {

                // Register the event handlers
                registerEventHandlers();

                // Load the saved cookies into the form
                actions.loadCookies();
                if ($('#loginname').val() == '') $('#loginname').focus();
                else $('#password').focus();
            }
            _init();

        })();
    </script>
}
