@{
    ViewBag.Title = "Your Account Settings";
    Layout = "~/Views/Account/_Layout.cshtml";
}


<h3>Your Account Settings</h3>

<div id="view-accountsettings">

    Coming soon!

</div>