.order-widget { border: 1px solid #ddd; @include border-radius(4px); margin-bottom: 10px;
	hr { margin: 0; }

	.padded-container { padding: 10px; }

	.items-container { border-left: 1px dotted #ddd; }
}