@import "vendor/_mixins";

@mixin highlight($color) {
	background-color: lighten($color, 20);
}


.relative { position: relative; }

$mainlinkswidth: 250px;
$mainlinkscollapsedwidth: 50px;
$sublinkswidth: 250px;

#site-navigation { @include highlight(black); position: absolute; z-index: 1; top: 0; left: 0; width: $mainlinkswidth + $sublinkswidth; height: 800px;
	&.transitioned { @include transition(width linear 0.08s); }

	#main-links { @include highlight(red); position: absolute; z-index: 1; width: $mainlinkswidth; margin: 0; padding: 0; list-style-type: none;
		&.transitioned { @include transition(width linear 0.08s); }
		> li { margin: 0; padding: 0; 
			&.active { 
				> a { font-weight: bold; }	
			}
			> nav { display: none; }
		}
	}

	#sub-links { @include highlight(blue); position: absolute; z-index: 0; width: $sublinkswidth; top: 0; left: 0; margin-left: $mainlinkswidth; 
		&.transitioned { @include transition(margin-left linear 0.08s); }
	}


	&.main-collapsed { width: $mainlinkscollapsedwidth + $sublinkswidth; 
		#main-links { width: $mainlinkscollapsedwidth; }
		#sub-links { margin-left: $mainlinkscollapsedwidth; }
	}
	&.sub-empty { width: $mainlinkswidth; 
		#sub-links { display: none; }
	}
	&.main-collapsed.sub-empty { width: $mainlinkscollapsedwidth; }	
}

#site-content { border-left: ($mainlinkswidth + $sublinkswidth) solid transparent; padding: 0 30px; }

.main-collapsed + #site-content { border-left-width: ($mainlinkscollapsedwidth + $sublinkswidth); }
.sub-empty + #site-content { border-left-width: ($mainlinkswidth); }
.main-collapsed.sub-empty + #site-content { border-left-width: ($mainlinkscollapsedwidth); }