@font-face {
    font-family:'SegoeUILight';
	src:url('styles/fonts/segoeui/SegoeUILight.eot');
	src:local("Segoe UI Light"),local("Segoe WP Light"),
		url('styles/fonts/segoeui/SegoeUILight.eot?#iefix') format('embedded-opentype'),
		url('styles/fonts/segoeui/SegoeUILight.woff') format('woff'),
		url('styles/fonts/segoeui/SegoeUILight.ttf') format('truetype'),
		url('styles/fonts/segoeui/SegoeUILight.svg#glyphicon-regular') format('svg');
    font-weight:400;
    font-style:normal;
}